<div class="flex flex-1 flex-col mb-4">
    <nav class="flex px-4 justify-between bg-white h-16 border-b-2">
        <ul class="flex items-center">
            <li>
                <a href="/">Steam Games List</a>
            </li>
        </ul>

        <ul class="flex items-center">
        </ul>

        <ul class="flex items-center">
            <li class="cursor-not-allowed" title="Coming soon">
                Login
            </li>
        </ul>
    </nav>
</div>