%div.columns
  %div.column.col-6
    - @players.each do |player|
      = haml :player, locals: { player: player }
  %div.column.col-6
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Game
      %tbody
        - @games.each do |game|
          %tr
            %td= game