%div.column.col-6
  %form{ action: "/games", method: "POST" }
    %div.form-group
      %label.form-label Steam IDs
      %textarea.form-input{ name: 'steam_ids', placeholder: 'enter one or more Steam IDs separated by commas.' }
    %div.form-group
      %input.form-input.btn.btn-primary.mt-1{ type: 'submit', text: 'Submit' }